body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.fieldset1{background-color: rgb(57, 191, 214);opacity: 80%;}
.regis_top {color: rgb(15, 15, 39);font-size: 50px;}
